.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.modal{
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  }

  .close:hover,
  .close:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  }
  [type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
  }
.modal-form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
.modal-icons {
  position: absolute;
  left: 12px;
  transform: translateY(-50%);
  top: 50%;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-form-input);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}
.form-input:hover,
.form-input:focus {
border-color: var(--accent-color);
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
fill: var(--accent-color);
}
.modal-lebel {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--portfolio-color-title);
  margin-bottom: 4px;
  display: inline-block;
}

::before, ::after {
box-sizing: border-box;
}
.modal-form-comment::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--textarea);
}
.modal-form-comment {
width: 100%;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
padding: 12px 16px;
outline: none;
}
.modal-form-comment-flex {
display: flex;
align-items: center;
justify-content: center;
}
.modal-check-accept {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
  display: inline-block;
}

.checkbox-input:checked + .modal-check-box {
  background-color: var(--accent-color);
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}
.checkbox-input {
  width: 16px;
  height: 15px;
  display: block;
  border-radius: 2px;
  margin-right: 8px;
}
.contact-form {
  min-height:581px;
  margin: 0 auto;
  padding: 20px;
  }
  .modal-form-tittle {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
  contact-form-input {
    width: 100px;
    height: 40px;
    border: 1px solid #303030;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .modal-form-tittle {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
  contact-form-input {
    width: 100px;
    height: 40px;
    border: 1px solid #303030;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .modal{
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  }
  .modal-form-title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
      text-align: center;
      margin-bottom: 12px;
  }
  .modal-lebel {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: var(--portfolio-color-title);
      margin-bottom: 4px;
      display: inline-block;
  }
  
  ::before, ::after {
    box-sizing: border-box;
  }
    .modal-box{
      position: relative;
      margin-bottom: 10px;
  }
  
  ::before, ::after {
    box-sizing: border-box;
  }
  .form-input {
      width: 100%;
      height: 40px;
      border: 1px solid var(--modal-form-input);
      border-radius: 4px;
      padding-left: 42px;
      outline: none;
  }
  .form-input:hover,
  .form-input:focus {
    border-color: var(--accent-color);
  }
  .form-input:hover + .form-icon,
  .form-input:focus + .form-icon {
    fill: var(--accent-color);
  }
  .modal-icons {
      position: absolute;
      left: 12px;
      transform: translateY(-50%);
      top: 50%;
  }
  .modal-form-comment::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: var(--textarea);
  }
  .modal-form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline: none;
  }
  .modal-form-comment-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  button, input, optgroup, select, textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
  }
  .modal-check-accept {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--portfolio-color-title);
    display: inline-block;
  }
  
  .checkbox-input:checked + .modal-check-box {
    background-color: var(--accent-color);
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
  }
  .checkbox-input {
    width: 16px;
    height: 15px;
    display: block;
    border-radius: 2px;
    margin-right: 8px;
  }
  .modal-icons {
    position: absolute;
    left: 12px;
    transform: translateY(-50%);
    top: 50%;
  }
  .close:hover,
  .close:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
  .modal-form-comment:hover,
  .modal-form-comment:focus {
    border-color: var(--accent-color);
  }
  .modal-form-comment::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--textarea);
  }
  
  .modal-check-box {
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-color);
    display: block;
    border-radius: 2px;
    margin-right: 8px;
  }
  .checkbox-input:focus + .modal-check-box {
    border-color: var(--accent-color);
  }
  .checkbox-input:checked + .modal-check-box {
    background-color: var(--accent-color);
    background-image: url(../img/che-box.svg);
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .modal-form-comment-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-check-accept {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
  display: inline-block;
  }
  
  .modal-check-order {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
  }
  .form-send-button {
    padding: 10px 55px;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function);
    }
  
  
    .form-input:hover,
    .form-input:focus {
      border-color: var(--accent-color);
    }
   .form-input:hover + .modal-icons,
   .form-input:focus + .modal-icons {
    fill: var(--accent-color);
  }
  .form-send-button:hover,
  .form-send-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .form-send-button:hover,
  .form-send-button:focus {
    background-color: var(--cursor-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }