.services-desktop {
    position: relative;
    }
.services-thumb {
        background: rgba(47, 48, 58, 0.8);
        padding-top: 27px;
        padding-bottom: 27px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        }
        .servis {
          padding-bottom: 94px;
          max-width: 1600px;
          margin: 0px auto;
        }
        .servis-list {
          display: flex;
        }
        .servis-item + .servis-item {
          margin-left: 30px;
        }
        
        
        .servis-text {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          /* or 171% */
          letter-spacing: 0.03em;
          color: var(--portfolio-color-title);
          margin-top: 10px;
          text-align: center;
          text-transform: uppercase;
          color: var(--primary-white-color);
        }
          .services-thumb {
            background: rgba(47, 48, 58, 0.8);
            padding-top: 27px;
            padding-bottom: 27px;
            bottom: 0px;
            width: 100%;
            color: var(--primary-white-color);
            font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
        }
.services-text {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-white-color);
        }
        .services-thumb {
          background: rgba(47, 48, 58, 0.8);
          padding-top: 27px;
          padding-bottom: 27px;
          position: absolute;
          bottom: 0px;
          width: 100%;
          }
          .services-text {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: var(--primary-white-color);
          }
          .services-desktop {
          position: relative;
          }
        .servis {
            padding-bottom: 94px;
            max-width: 1600px;
            margin: 0px auto;
          }
          .servis-list {
            display: flex;
          }
          .servis-item + .servis-item {
            margin-left: 30px;
          }
          
          
          .servis-text {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            /* or 171% */
            letter-spacing: 0.03em;
            color: var(--portfolio-color-title);
            margin-top: 10px;
            text-align: center;
            text-transform: uppercase;
            color: var(--primary-white-color);
          }